.highlights {
  max-width: 90%;
  padding: 100px 0;
  margin: 50px auto 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.highlight-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
}

/* section1 */
.highlight-container:nth-of-type(1) {
  justify-content: end;
}

.section1-photo-container {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

.section1-photo-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.decoration-line-1 {
  margin-left: 20%;
  margin-right: auto;
  width: 30%;
  border-bottom: 3px solid #000;
}

/* section2 */
.highlight-container:nth-of-type(2) {
  justify-content: start;
}

.section2-photo-container {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

.section2-photo-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.decoration-line-2 {
  margin-left: auto;
  margin-right: 20%;
  width: 30%;
  border-bottom: 3px solid #000;
}

/* section3 */
.section3-photo-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

.section3-photo-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.decoration-line-3 {
  margin-left: 20%;
  margin-right: auto;
  width: 30%;
  border-bottom: 3px solid #000;
}

/* 共用 */
.photo-fade {
  opacity: 0;
  transition: all 0.6s ease-out;
}

.photo-fade.show {
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  .highlight-container {
    width: 70%;
  }

  .decoration-line-1 {
    margin-left:5%;
    width: 45%;
  }

  .decoration-line-2 {
    margin-right: 5%;
    width: 45%;
  }

  .decoration-line-3 {
    margin-left: 5%;
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .highlights {
    margin-top: 30px;
  }

  .highlight-container {
    width: 60%;
  }

  .decoration-line-1 {
    margin-left: 10%;
    width: 40%;
  }

  .decoration-line-2 {
    margin-right: 10%;
    width: 40%;
  }

  .decoration-line-3 {
    margin-left: 10%;
    width: 40%;
  }

  .section1-photo-container {
    max-width: 300px;
  }

  .section2-photo-container {
    max-width: 300px;
  }

  .section3-photo-container {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .highlight-container {
    width: 80%;
  }

  .decoration-line-1 {
    margin-left: 0%;
    width: 50%;
  }

  .decoration-line-2 {
    margin-right: 0%;
    width: 50%;
  }

  .decoration-line-3 {
    margin-left: 0%;
    width: 50%;
  }
}

@media screen and (max-width: 430px) {
  .highlights {
    margin-top: 10px;
  }

  .section1-photo-container {
    max-width: 200px;
  }

  .section2-photo-container {
    max-width: 200px;
  }

  .section3-photo-container {
    max-width: 200px;
  }
}